[submodule "consolas-powerline"]
	path = consolas-powerline
	url = https://github.com/eugeii/consolas-powerline-vim.git
[submodule "Consolas-with-Yahei"]
	path = Consolas-with-Yahei
	url = https://github.com/sharpglasses/Consolas-with-Yahei.git
